<html>
<body>
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>Ball's Weight.</h1>
                <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
<p>Hello sunx,</p>
<p>Problem 1 is for making sure that you know the rules.</p>
<p>Your gifts is now locked somewhere for a limited time.</p>
<p>You have to answer the problems within one day.</p>
<p>Or else your gifts will be sold by me.</p>
<h3 id="my-hobbies:6083a88ee3411b0d17ce02d738f69d47">Problem 2</h3>
<p>There are 8 balls. 7 balls are the same and one ball is slightly heavier than the others.</p>
<p>All you have is one scale.</p>
<p>You can put several ball on left side of scale, and several ball on right side of scale to see which side is heavier.</p>
<p>How many times you need at least to find the heavier ball?</p>
<img src="https://pic3.zhimg.com/v2-4febb5092cd995d479549b016a802142_b.jpg" data-caption="" data-size="normal" data-rawwidth="640" data-rawheight="800" class="origin_image zh-lightbox-thumb" width="640" data-original="https://pic3.zhimg.com/v2-4febb5092cd995d479549b016a802142_r.jpg">
<form action="/ballweight/" method="post">
  <p>times at least( put a number here ): </p> 
  <p><input type="text" name="tryTimes" /></p>
  <p>When you first put balls. How many on the left and how many on the right.( e.g. if you first compare 2 balls and 2 balls.You should write "2 2". A space to seperate two numbers): </p>
    <p><input type="text" name="firstTry" /></p>
  <input type="submit" value="Submit" />
</form>
{% error %}
<p>click on 'submit' to submit your answer.</p>

</body>
</html>
