<html>
<body>
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>Birthday Problem.</h1>
                <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
<p>Hello sunx,</p>
<p>Here are series of problems. You have to get all of them right</p>
<h3 id="my-hobbies:6083a88ee3411b0d17ce02d738f69d47">Problem 3</h3>
<img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3593883707,2674855000&fm=26&gp=0.jpg" data-caption="" data-size="normal" data-rawwidth="300" data-rawheight="300" class="origin_image zh-lightbox-thumb" width="400" data-original="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3667631672,2289158741&fm=26&gp=0.jpg">
<form action="/birthdayProblem/" method="post">
  <p>What is the book you never read?(please write in France)</p> 
  <p><input type="text" name="bookUnread" /></p>
  <p>How many times have you buy fruits for me?</p> 
  <p><input type="text" name="fruits" /></p>
  <p>How many times have we sleep outside?</p> 
  <p><input type="text" name="times" /></p>
  <p>How long will I love u?</p> 
  <p><input type="text" name="forever" /></p>
  <input type="submit" value="Submit" />
</form>
{% error %}
<p>click on 'submit' to submit your answer.</p>

</body>
</html>
