<html>
<body>
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>Birthday Problem.</h1>
                <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
<p>Hello sunx,</p>
<p>here is problem 3</p>
<h3 id="my-hobbies:6083a88ee3411b0d17ce02d738f69d47">Problem 3</h3>
<p>There are 49 people. </p>
<p>How many people at least that their birthdays are in the same month?</p>
<img src="https://pic4.zhimg.com/50/v2-2576403f229bc028a770e62aafc6b157_xl.jpg" data-caption="" data-size="normal" data-rawwidth="300" data-rawheight="300" class="origin_image zh-lightbox-thumb" width="300" data-original="https://pic3.zhimg.com/v2-4febb5092cd995d479549b016a802142_r.jpg">
<form action="/birthdayProblem/" method="post">
  <p>people at least( put a number here ): </p> 
  <p><input type="text" name="peopleCnt" /></p>
  <input type="submit" value="Submit" />
</form>
{% error %}
<p>click on 'submit' to submit your answer.</p>

</body>
</html>
