<html>
<body>
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>Where Is My Christmas Gift?</h1>
                <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
<p>Hello sunx,</p>
<img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2404292062,1759275538&fm=26&gp=0.jpg" data-caption="" data-size="normal" data-rawwidth="300" data-rawheight="300" class="origin_image zh-lightbox-thumb" width="400" data-original="https://pic3.zhimg.com/v2-4febb5092cd995d479549b016a802142_r.jpg">
<p>in order to get your christmas gift.</p>
<p>You have to pass some exams.</p>
<p>Here is the first easy one.</p>
<h3 id="my-hobbies:6083a88ee3411b0d17ce02d738f69d47">Problem 1</h3>
<p>Who is your favorate boy's phone number?</p>
<form action="/welcome01/" method="post">
  <p>answer sheet: <input type="text" name="phonenum" /></p>
  <input type="submit" value="Submit" />
</form>
{% error %}
<p>click on 'submit' to submit your answer.</p>

</body>
</html>
